*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
.bzr
.svn
*.pyc
*.tmp*
.DS_Store
*.orig
_build

# Virtual Env
/.venv/
/venv/
/env/

# IDE-related Ignores (Visual Studio/Eclipse/Komodo)
*.pyproj
*.pyproj.user
*.sln
*.v11.suo

.project
.pydevproject
.settings/

.komodotools
*.komodoproject
