# 
# These tests need to use your Client and Server key for a veritrans
# SANDBOX account.  
#
# If you include production credentials, these tests will fail.
#
# They could also fail anyway, because veritrans doesn't seem happy to
# let 3rd parties write OMFG their OWN CODE that talks to the token
# api.. not that it takes more than 15 seconds to see how they're doing
# it anyway..
# http://docs.veritrans.co.id/vtdirect/integration_cc.html
#
SANDBOX_CLIENT_KEY = '<your-client-key>'
SANDBOX_SERVER_KEY = '<your-server-key'
