# 
# These tests need to use your Client and Server key for a veritrans
# SANDBOX account.  
#
# If you include production credentials, these tests will fail.
# 
# Likewise, these may not work anyway, down the road because Veritrans
# explicitally states that they do not allow people to write their own
# code to retrieve an access token.  NOTE: These tests WILL NOT work against
# the production endpoint because veritrans enforces a security restriction
# that token and charge requests are made from different APIs. 
#
# http://docs.veritrans.co.id/vtdirect/integration_cc.html
#
SANDBOX_CLIENT_KEY = '<your-client-key>'
SANDBOX_SERVER_KEY = '<your-server-key'
